<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>#Stak</title>
    <meta name="description" content="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <!-- Navigation Bar -->
        <header>
            <nav>
                <img class="logo" src="images/logo.png" alt="logo">
                <div class="links">
                    <a href="#">About</a>
                    <a href="#">Docs</a>
                    <button class="button_med" href="#">Login</button>
                </div>
            </nav>
        </header>
        <!-- Contents -->
        <section class="info">
            
                <h1 class="content_font1">Online Creative Community</h1>
                <h4 class="content_font2">by Aj. NesT the Series </h4>
                <div class="icons">
                    <div class="icon">
                        <img src="images/email.svg" alt="email">
                        <p class="icon_info">ajnesttheseries@gmail.com</p>
                    </div>
                    <div class="icon">
                        <img src="images/facebook.svg" alt="facebook">
                        <p class="icon_info">Aj. NesT the Series</p>
                    </div>
                    <div class="icon">
                        <img src="images/youtube.svg" alt="youtube">
                        <p class="icon_info">Aj. NesT the Series</p>
                    </div>    
                    <div class="icon">
                        <img src="images/twitter.svg" alt="twitter">
                        <p class="icon_info">Aj. NesT the Series</p>
                    </div>               
                </div>
           
        </section>
        <!-- Feature Bar -->
        <footer class="foolter">
        <section class="features">
            <div class="feature">
                <img src="images/pexels-alex-knight-2599244.jpg" alt="programming">
                <div class="feature_info">
                    <p class="feature_top">Programming</p>
                    <p class="feature_bottom">Enjoy Coding and Playing
                        HTML, CSS,JavaScript</p>
                </div>
            </div>    
            <div class="feature">
                <img src="images/pexels-olia-danilevich-4974914.jpg" alt="aiot">
                <div class="feature_info">
                    <p class="feature_top">AIoT and Robotics</p>
                    <p class="feature_bottom">Enjoy Coding and Playing
                        Python, ROS, Mechanics</p>
                </div>
            </div>  
            <div class="feature">
                <div class="feature_info">
                    <p class="feature_top">Learn More</p>
                </div>
            </div>  
        </section>
    </footer>
    </main>
</body>
</html>